*{
    margin: 0, 2rem, 0, 2rem;
    padding: 0;
}

html{
    background-color: whitesmoke;
    font-family: 'Della Respira', serif;
}

main{
    box-shadow: 5px 5px 25px 5px black;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

html p{
    font-family: 'Segoe UI', sans-serif;
}

html h1{
    text-align: center;
    text-decoration: underline;
}

body{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

#banner{
    display: none;
	margin-top: 2rem;
	margin-bottom: .5em;
    padding: 1rem;
	border: 2px solid black;
    background-color: rgb(171, 97, 97);
    text-align: center;
}

#badweather{
    background-color: whitesmoke;
}

header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 75px;
    background-color: #6a7c98;
    margin-bottom: 3rem;
    box-shadow: 4px 4px 16px 4px black;
}


.logo{
    margin-top: .5rem;
    padding-left: .5rem;
    grid-column: 1;
    grid-row: 1;
    width: 97%;
    box-shadow: 3px 3px 8px 3px;
}

.slogan{
    display: flex;
    text-align: center;
    grid-column: 1/3;
    margin-top: -4rem;
    grid-row: 2;
    margin-bottom: .8rem;
    padding: .6rem;
    background-color: whitesmoke;
    border: 3px solid grey;

}

.weather{
    text-align: center;
    background-color: rgb(195, 249, 255);
    margin: .5rem;
    grid-column: 4/7;
    box-shadow: 3px 3px 9px 3px rgb(110, 134, 184);
}

#temp{
    border-bottom: 2px solid black;
    background-color: white;
    padding-right: .25rem;
    padding-left: .25rem;
    margin-left: .2rem;
    font-family: 'Segoe UI', sans-serif;
}

#hum{
    border-bottom: 2px solid black;
    background-color: white;
    padding-right: .25rem;
    padding-left: .25rem;
    margin-left: .2rem;
    font-family: 'Segoe UI', sans-serif;
}

.weather img{
    margin-bottom: -.2rem;
}

.date{
    text-align: center;
    background-color: #e2cb46;
}

#drop{
    background-color: #e2cb46;
}

.drop{
    display: none;
}

nav{
    grid-column: 2;
    font-weight: bold;
    margin-left: .3rem;
    margin-top: .5rem;
}


nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a{
	display: block;
	padding: .8rem 2vw;
	text-decoration: none;
    border-top:rgba(6, 128, 251, 0.3);
	color: rgb(28, 18, 71);
	font-size: .8rem;
}

nav ul li.active a{
	background-color: rgb(0, 0, 0);

}

nav ul li a:hover{
	color: rgb(2, 2, 2);
	background-color: rgba(6, 128, 251, 0.3);
}

nav ul{
	display: none;
}

nav ul.open{
	display: block;
    background-color: whitesmoke;
}

#drop span:nth-child(1) {display: block;}
#drop span:nth-child(2) {display: none;}

#drop.open span:nth-child(1) {display: none;}
#drop.open span:nth-child(2) {display: block;}


.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1.5rem;
}

.welcome-box{
    padding: 1rem;
    grid-column: 1/3;
    grid-row: 1;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.tuc-tem{
    padding: 1rem;
    grid-column: 4/6;
    grid-row: 1;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.three-day{
    padding: 1rem;
    grid-column: 2/6;
    grid-row: 3;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.book{
    padding: 1rem;
    grid-column: 1/3;
    grid-row: 2;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.care{
    padding: 1rem;
    grid-column: 4/6;
    grid-row: 2;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.full-time{
    display: none;
}

.temples{
    display: none;
}



.social img{
    padding: .4em;
}

main{
    background-color: rgb(159, 197, 239);
}

footer{
    background-color: #e2cb46;
    margin-right: 0;
    margin-left: 0;
}

.foot-1{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 40px;
    text-align: center;
    font-size: small;
}

.more-info{
    grid-column: 2;
    margin-right: 8px;
    font-size: small;
}

.social{
    grid-column: 3/4;
}

.foot-2{
    text-align: center;
    padding-bottom: .7rem;
}

/*This is for the temple page*/

div section{
    background-color: whitesmoke;
    padding: 5px;
    color: black;
    border: 2px solid black;
    margin: 3px;
}


div section img{
    box-shadow: 0px 0px 10px 0px black;
    width: 60%;
    margin-left: 10%;
}


div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

div h2{
    text-align: center;
    text-decoration: underline;
}

.like-btn.clicked{
    font-weight: bold;
    color: white;
    background-color: #e2cb46;
}

/*Booking Page*/

.book h1{
	text-align: center;
}

.book p{
	text-align: center;
	margin-bottom: 1.5em;
}

.book .book-btn{
	background: whitesmoke;
	margin-left: 1em;
}

.book-btn:hover{
	transform: scale(1.2);
}

form {
    padding: 2rem;
    margin: 0 auto;
    background-color: rgba(6, 128, 251, 0.3);
}

fieldset {
    margin: 1rem;
    border-radius: 10px;
    padding: .5rem 2%;
}

legend {
    color: black;
    padding: 1rem;
	text-align: left;
    font-weight: bold;
}

label.f-info, form div {
    display: block;
    padding-bottom: .8rem;
    font-size: 1rem;
	font-weight: 700;
}

label.f-info input, form label.f-info select, textarea {
    background-color: whitesmoke;
    width: 90%;
    font-size: 1rem;
	font-weight: 800;
    padding: .8rem;
    display: block;
    border-radius: 5px #e2cb46;
    box-shadow: 2px 2px 7px 2px rgb(26, 33, 41);
}

label.f-info input, form label.f-info select {
    max-width: 50rem;
}

label.f-choice {
    display: block;
    padding: .75rem 0;
}


label.f-info input:required {
    border-left: #e2cb46 solid 5px;
	border-bottom: #c2615c solid 5px;
}

label.f-info input:required:valid {
    border-left: #e2cb46 solid 5px;
	border-bottom: #e2cb46 solid 5px;
}

.required {
    color: #e2cb46;
}

/*For thank you page*/

.thanks{
	text-align: center;
	background-color: #0c3c88;
    color: rgb(216, 236, 250);
}


/*this is for the contact pages*/

.m-con{
    text-align: center;
    padding-bottom: 4rem;
    margin-bottom: .5rem;
}

.con{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.con-btn{
    text-align: center;
    background-color:#e2cb46; 
}

.mem{
    grid-column: 1;
    grid-row: 1;
}

.nonmem{
    grid-column: 1;
    grid-row: 2;
}

a:visited{
    color:black;
}

a:hover{
    color: white;
}



