@media only screen and (min-width: 760px){

    .logo{
        width: 100%;
        border-radius: 4px 120px;
    }

    .logo:hover{
        border-radius: 0px 0px;
        background: #e2cb46;
        background: radial-gradient(circle, #e2cb46 30%, rgba(20,137,229,1) 73%, rgba(0,98,200,1) 100%);
    }

    .slogan{
        margin-top: -3rem;
        height: 50px;
        
    }

    .title{
        display: block;
        grid-column: 2/3;
    }

    .weather{
        margin: 2rem;
        padding: .2rem;
        grid-column: 4/6;
    }

    nav button{
		display: none;
	}
	nav ul{
		display: flex;
	}

	nav{
        grid-column: 3/4;
        margin-left: -3rem;
		margin-top: 7em;
		width: flex;
		height: 40px;
	}

	nav ul #navigation{
		display: flex;
        margin-right: 2vw;
	}

	nav ul li a{
		border: none;
		background-color: whitesmoke;
		border-right: 1px solid rgb(4, 2, 45);
		border-left: 1px solid rgb(4, 2, 45);
	}

    .foot-1{
        font-size: medium;
    }

    .more-info{
        padding-right: 0;
        font-size: medium;
    }

    /*temples*/

    div section img{
        margin-left: 5%;
        width: 75%;
    }

    /*contact*/

    .con{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 100px;
        text-align: center;
    }
    
    .mem{
        grid-column: 1;
        grid-row: 2;
    }
    
    .nonmem{
        grid-column: 2;
        grid-row: 2;
    }


    

}
