*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-size: 16px;

}

header, main, footer{
    max-width: 45rem;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
}

header{
    margin: 1rem auto;
    border: 2px solid rgb(247, 85, 9);
    padding: .5rem;
    background-color: rgb(87, 101, 227);
    display: flex;
    justify-content: left;
}

img{
    width: 55%;
    box-shadow: 0 0 15px rgb(196, 191, 191);
}

footer{
    margin: 2rem auto;
    border: 2px solid rgb(213, 78, 0);
    padding: .5rem;
    background-color: rgb(75, 90, 230);
    display: grid;
    grid-template-columns: 3fr;
    align-items: center;
    font-size:15px;
    color:rgb(252, 252, 248);
    text-align: center;
}

span{
    color: rgb(234, 255, 49);
    text-align:center;

}

.strong-1{
    color: #fee9b8;
    background-color: black;
}

.strong-2{
    color: #c1503a;
}

.strong-3{
    color: #2E6E41FF;
}
