@media only screen and (min-width: 1024px) {


    #meet{
        margin-bottom: 3.5em;
    }
    header{
        display: grid;
        grid-template-rows: repeat (2, 1fr);
        grid-template-columns: repeat (5, 1fr);
        background-color: #2E6E41FF;
        margin-top: -3em;
        margin-bottom: 3em;
    }

    .cacti{
		width: 275px;
		height: 225px;
    }

    header h1{
        font-size: xx-large;
    }

    .datetracker{
        margin: none;
        font-size: larger;
    }

    .social{
        grid-column: 5;
        grid-row: 1;
        width: 50px;
        height: 50px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    
    }

    .placeholder-box-hero{
        grid-row: 1 / 3;
        grid-column: 2/4;
        padding: 5px;  
    }

    .placeholder-box-news{
        grid-row: 3;
        grid-column: 2/4;
    }

    .placeholder-box-event{
        grid-row: 1;
        grid-column: 1;
    }

    .placeholder-box-weather{
        grid-row: 2;
        grid-column: 1;
    }

    .placeholder-box-join{
        grid-row: 3;
        grid-column: 1;
    }

    .placeholder-box-spotlight{
        grid-row: 1/4;
        grid-column: 4;
    }

    .spot-1{
	    grid-row: 1;
        grid-column: 4;
	}
	
	.spot-2{
		grid-row: 2;
        grid-column: 4
    }

    .spot-3{
        display: block;
        grid-row: 3;
        grid-column: 4;
    }
}