*{
	padding: 0;
	margin: 0;

}

html{
	font-family: 'Courier New', Courier, monospace;
	background-color: #fee9b8;
}

#meet{
	display: none;
	margin-top: -4em;
	margin-bottom: .5em;
	border: 2px dashed black;
	background-color: rgb(252, 252, 29);
	padding: 1rem;
	text-align: center;
}

header{
	display: grid;
	grid-template-rows: repeat(auto-fit, minimax(100px, 1fr));
	grid-template-columns: repeat (6, 1fr);
	background-color: #2E6E41FF;
	margin-bottom: 3em;
}

header h1{
	font-size: medium;
	grid-column: 2/3;
	grid-row: 1;

}

.social{
	display: inline-flex;
	grid-column: 3;
	grid-row: 1;
	width: 15%;
	margin-top: 2em;
}

.social img{
    padding: .3em;
	width: 85%;
}

body{
	margin: 4em;
}


.cacti-top{
	grid-column: 1;
	grid-row: 1/2;
	top: .5em;
	left: .5em;
	width: 80%;
}

nav button{
	margin: .2rem 2vw;
	background: rgb(27, 143, 39);
	font-size: 2rem;
}

nav{
	grid-column: 4/6;
	grid-row: 1;
	background-color:#b81e16;
}

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a{
	display: block;
	padding: .8rem 2vw;
	text-decoration: none;
	color: rgb(37, 19, 19);
	border-top: 1px solid rgba(0,0,0,0.5);
	font-size: .8rem;
}

nav ul li.active a{
	background-color: black;
}

nav ul li a:hover{
	color: rgb(215, 202, 202);
	background-color: rgb(138, 26, 26, .3);
}

nav ul{
	display: none;
}

nav ul.open{
	display: block;
}

#drop span:nth-child(1) {display: block;}
#drop span:nth-child(2) {display: none;}

#drop.open span:nth-child(1) {display: none;}
#drop.open span:nth-child(2) {display: block;}


.datetracker{
	background-color: rgb(45, 192, 45);
	text-align: center;
	font-size: 10px;
	margin-top: 1.25em;
	margin-bottom: 1em;
	grid-column: 1/5;
	grid-row: 2;
	height: 30px;
	border: 3px solid black;
}

.container{
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(4, 1fr);

}

.box-hero { 
	position:relative;
	border: 2px solid black;
	background-color:#b81e16;
	padding: 5px;
	grid-column: 1/4;
	grid-row: 1;
}

.hero-btn{
	width: 80%;
	height: 50px;
	background: #2e1717;
	color: white;
    border-radius: 2px;
	padding: 1rem;
    position: absolute;
    bottom: .5em;
	left: 1.5em;
}

.box-news { 
	border: 2px solid black;
	padding: 5px;
	grid-row: 2;
	grid-column: 1/4;
}

.box-event { 
	border: 2px solid black;
	padding: 5px;
	grid-row: 4;
	grid-column: 1/4;
}

.box-weather {
	align-content: center;
	border: 2px solid black;
	padding: 5px;
	grid-row: 3;
}
.box-weather ul{
    list-style-type: none;
}

.box-weather img{
	width: 30%;
	height: 30%;
}

.box-join { 
	border: 2px solid black;
	padding: 5px;
	grid-row: 5;
}

.box-spotlight{
	border: 1px solid black;
	background-color:#b81e16;
	padding: 5px;
	grid-row: 6;
}

.spot-1{
	margin: 2px;
	border: 1px solid black;
	width: 45%;
}

.spot-2{
	margin: 2px;
	width: 45%;
}

.spot-3{
	display: none;
}

footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2E6E41FF;
}

.foot-pic{
	padding: 1rem;
	width: 40%;
	grid-row: 1;
	grid-column: 1;
}

.foot-1 {
	grid-column: 2/3;
	grid-row: 1;

}

.foot-2{
	grid-column: 1/3;
	grid-row: 2;
}

#lastModified{
	color: white;
}


/*Discover Page CSS*/

.discover{
	display: block;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#visits{
	text-align: center;
	background-color:  rgb(45, 192, 45);
	margin-top: 2em;;
}

.disc_sec{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
}
.disc_sec .discover_con{
    width: 50%;
	background-color: rgb(76, 191, 76);
	border: 2px solid black;
}
.disc_sec picture{
    width: 50%
}

.disc_sec picture img{
    width: 100%;
    height: auto;
}

section img{
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 .2rem .1rem rgba(0,0,0,.5);
}

section img[data-src] {
    filter: blur(0.3em);
    opacity: 0.5;
  }

  #visits{
	text-align: center;
	background-color:  rgb(45, 192, 45);
	margin-top: 2em;;
}


/*Join Page*/

.join h1{
	text-align: center;
}

.join p{
	text-align: center;
	margin-bottom: 1.5em;
}

.join .join-btn{
	background: #6f2323;
	color: white;
	margin-left: 1em;
}

.join-btn:hover{
	transform: scale(1.2);
}

form {
    padding: 2rem;
    margin: 0 auto;
	background-color: #b81e16;
}

fieldset {
    margin: 1rem;
    border-radius: 10px;
    padding: .5rem 2%;
}

legend {
    color: #FFFFFF;
    margin: 0 1rem;
    padding: 1rem;
	text-align: center;
}

label.f-info, form div {
    display: block;
    padding-bottom: .8rem;
    font-size: 1rem;
	font-weight: 800;
}

label.f-info input, form label.f-info select, textarea {
    background-color: #FFFFFF;
    width: 90%;
    font-size: 1rem;
	font-weight: 800;
    padding: .8rem;
    display: block;
    border-radius: 2px;
}

label.f-info input, form label.f-info select {
    max-width: 50rem;
}

label.f-choice {
    display: block;
    padding: .75rem 0;
    color: #FFFFFF;
}


label.f-info input:required {
    border-left: #e32626 solid 5px;
	border-bottom: #e32626 solid 5px;
}

label.f-info input:required:valid {
    border-left: #066606 solid 5px;
	border-bottom: #066606 solid 5px;
}

.required {
    color: #066606;
}

/*For thank you page*/

.thanks{
	text-align: center;
	background-color: #b81e16;
}


/* For the bussiness Directory*/

#direct{
	text-align: center;
}

h4 #direct{
    padding-bottom: .75rem;
}

.directbtns {

	width: 50%;
	margin: 1rem;
	padding: 1rem;
    display: flex;
	justify-content: center;
	background-color: #6f2323;
}

.directbtns button {
    padding: .75rem;
    margin: 1rem;
}

h2{
    size: 85%;
}


div section{
	background-color: #6f2323;
    padding: 5px;
    color: white;
    border: 2px solid white;
    margin: 3px;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
}


div section img{
    box-shadow: 0px 0px 10px 0px black;
    width: 225px;
    height: auto;
}


.grid{
    display: flex;
}

.list{
	display: grid;
	grid-template-columns: minmax(auto-fit, minmax(300px,1fr));
	grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.list section {
	display: flex;
	align-items: center;
}

.list img{
	display: none;
}

.list p{
	padding: 10px;
}

.grid section {
	text-align: center;
}








